@{
    ViewBag.Title = "Danh sách đơn vị";
    ViewBag.Menu = "unit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section css{
    <link rel="stylesheet" href="/Contents/Admin/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="/Contents/Admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <style type="text/css">
        .dataTables_filter {
            float: left !important;
        }
        .dataTables_length{
            float: right !important;
        }
    </style>
}
<div class="loader"></div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Danh sách đơn vị</h4>
                <div class="text-right">
                    <a href="/admin/them-don-vi" class="btn btn-primary">Thêm</a>
                    <button class="btn btn-danger btn-delete">Xóa</button>
                </div>
            </div>
            <div class="card-body">
                
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="text-align:center; width:20px"><input type="checkbox" id="customCheckboxAll"></th>
                                <th>Tên đơn vị</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                    <script id="data-template" type="x-tmpl-mustache">
                        <tr>
                            <td style="text-align:center">
                                <input type="checkbox" class="check-item" data-id="{{ID}}">
                            </td>
                            <td><a href="/admin/cap-nhat-don-vi/{{ID}}">{{Name}}</a></td>
                        </tr>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
@section js{

    <script src="~/Contents/Admin/js/controller/unit-index.js"></script>
    <script src="~/Contents/Admin/js/mustache.min.js"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <script src="/Contents/Admin/assets/bundles/datatables/datatables.min.js"></script>
    <script src="/Contents/Admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Contents/Admin/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
    <script src="/Contents/Admin/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
    <script src="/Contents/Admin/assets/bundles/datatables/export-tables/jszip.min.js"></script>
    <script src="/Contents/Admin/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
    <script src="/Contents/Admin/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
    <script src="/Contents/Admin/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
    <script src="/Contents/Admin/assets/js/page/datatables.js"></script>

    <script type="text/javascript">
    </script>
}